.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin: 5px;
    border-radius: 8px;
    max-width: 320px;
}


img {
    width: 120px;
    border-radius: 50%;
    height: 120px;
}

.filmes {
    display: flex;
    flex-direction: row;
    align-items: center;  
}


button:hover:focus{
    background-color: green;
    color: yellow; 
}


.cartaz {
    position: absolute;
    top: auto; right: auto;}

body {
    background-color: gray;
}

div {
    background-color: darkred;
    border-radius: 3%;
}

